/* Define el fondo de pantalla */

html {
    background: url(https://raw.githubusercontent.com/linuxdotexe/nordic-wallpapers/master/wallpapers/ign_unsplash27.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/* Define el color de fondo de la página,
   debe ser transparente para poder ver el
   fondo y evitar margenes feos */


html body {
    background-color: rgba(0, 0, 0, 0);

}

#my {
    zoom: 90%;
}

/* Define el aspecto de un titulo*/

.title {
    color: #eceff4;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 186%;
}

/* Define el aspecto de una caja redonde de texto*/

.round-box {
    color: #eceff4;
    background-color: #2e3440e0;
    padding: 10px 30px 10px;
    line-height: 186%;
}

/* Define el aspecto de un subtitulo*/

.heading {
    color: #eceff4;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

/* Define el aspecto de un texto suave*/

.soft-text {
    color: #eceff4b0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

/* Define el aspecto de una caja de texto*/


.box {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 6px;
    color: #eceff4;
    background-color: #2e3440e0;
    border-radius: 5px;
    padding: 12px;
}

/* Define el aspecto de una tarjeta*/

.card-aspect {
    color: #eceff4;
    background-color: #2e3440e0;
    ;
    line-height: 186%;
}

/* Define el aspecto de un link*/

.link {
    color: #88c0d0;
    text-decoration: none;
}

.link-button {
    color: #88c0d0;
    padding: 20px;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
}

/* Define el aspecto de un boton*/
.button-aspect {
    background-color: #88c0d0;
    border-color: #88c0d0;
    color: #eceff4;

}